/*Fuentes*/
h2{
    font-family: 'Comfortaa', cursive;
}
*{
    font-family: 'Press Start 2P', cursive;
   
}


body{
	padding: 0px;
	margin: 0px;
	background-color: #323031;
	background-image: url(Fondo_1.webp);f
	background-size: 100% 100%;
}
.GBA{
  position: absolute;
  top:  100px;
  left: 100px;

  width: 30%;

}
/*--------------BANNER-------------------------------------*/
.banner{
    background-color: #FE0000;
    
    height: 100px;
    width: 100%;

    margin: 0px;
    padding: 0px;

    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    color: #FFD35C;
}
/*---------------Middle Center------------------------------*/
.pokedex{
    position: relative;

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    
    
    padding-top: 50px ;
    padding-bottom: 50px;
    
    
}
form {
    width: 200px;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 10px;
}

.poke-card {
    position: absolute;
    top:  120px;
    left: 180px;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 200px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid black;
}

.poke-card::before {
    content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}

.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto;
}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}

.poke-types div {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed black;
}

.poke-img {
    width: 180px;
    border-radius: 50%;
}
    /*----------Footer-------------------------*/
footer {
background-color: #FEFEFE;
bottom: 0;
}
    footer .text{
        width:55%;
        top:15px;
    }
    footer .text p{
        font-family: 'Comfortaa', cursive;
        color: #D7D5D6;
    }
    footer .text p:first-child{
        font-size: 24px;
    }
    .bat{
        width: 80px;
    }
}  

} 
